#!name = BoxJs
#!desc = http://BoxJs.com/
#!author = chavyleung

^https?:\/\/(.+\.)?boxjs\.(com|net) url script-analyze-echo-response https://raw.githubusercontent.com/chavyleung/scripts/master/box/chavy.boxjs.js

hostname = boxjs.com, boxjs.net, *.boxjs.com, *.boxjs.net