#!name = BoxJs
#!desc = http://boxjs.com
#!author = chavyleung

# [Script]
^https?:\/\/(.+\.)?boxjs\.(com|net) url script-analyze-echo-response https://raw.githubusercontent.com/chavyleung/scripts/master/box/chavy.boxjs.js

# [MITM]
hostname = boxjs.com, boxjs.net, *.boxjs.com, *.boxjs.net