#!name = 谷歌
#!desc = 谷歌重定向
#!author = Centralmatrix3

https?:\/\/(www.)?(g|google)\.cn url 302 https://www.google.com

https?:\/\/(ditu|maps).google\.cn url 302 https://maps.google.com

hostname = www.google.cn