#!name = IT之家
#!desc = IT之家去广告
#!author = RuCu6、Keywos

^https:\/\/napi\.ithome\.com\/api\/(news\/index|topmenu\/getfeeds) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/ithome.js

hostname = napi.ithome.com