#!name = No-Redirect
#!desc = No-Redirect
#!author = app2smile

https:\/\/boxer\.baidu\.com\/scheme\?scheme url script-response-header https://raw.githubusercontent.com/Centralmatrix3/Matrix-io/master/QuantumultX/Scripts/Redirect.Js

hostname = boxer.baidu.com