#!name = NoRedirect
#!desc = NoRedirect防跳转
#!author = app2smile

# [Script]
https:\/\/boxer\.baidu\.com\/scheme\?scheme url script-response-header https://raw.githubusercontent.com/Centralmatrix3/Matrix-io/master/QuantumultX/Scripts/NoRedirect.js

# [MITM]
hostname = boxer.baidu.com