name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: "5 0,12 * * *"

jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Shanghai"
      SING_BOX_VERSION: "1.12.14"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Checkout Repository
        uses: actions/checkout@v6.0.1
        with:
          repository: Centralmatrix3/Scripts
          path: Scripts

      - name: Build
        run: bash Scripts/Scripts/Build.sh

      - name: Egern
        run: |
          for dir in Egern/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Egern "$dir"
          done

      - name: QuantumultX
        run: |
          for dir in QuantumultX/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py QuantumultX "$dir"
          done

      - name: Singbox
        run: |
          for dir in Sing-box/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Singbox "$dir"
          done
          curl -fsSL -o sing-box.tar.gz "https://github.com/SagerNet/sing-box/releases/download/v${SING_BOX_VERSION}/sing-box-${SING_BOX_VERSION}-linux-amd64.tar.gz"
          tar -xzf sing-box.tar.gz
          chmod +x "sing-box-${SING_BOX_VERSION}-linux-amd64/sing-box"
          sudo  mv "sing-box-${SING_BOX_VERSION}-linux-amd64/sing-box" /usr/local/bin/sing-box
          sing-box version
          for file in Sing-box/Ruleset/*.json; do
            [ ! -f "$file" ] && echo "$file not found." && continue
            sing-box rule-set compile "$file" -o "${file%.json}.srs"
          done

      - name: Stash
        run: |
          for dir in {Clash,Stash}/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Stash "$dir"
          done

      - name: Surge
        run: |
          for dir in {Loon,Shadowrocket,Surge}/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Surge "$dir"
          done

      - name: Push Update
        run: |
          if [[ -n $(git status -s) ]]; then
            git config --local user.email "${{ github.actor }}@users.noreply.github.com"
            git config --local user.name "${{ github.actor }}"
            git add -A
            git commit -m "$(TZ='Asia/Shanghai' date +'%Y-%m-%d %H:%M:%S')"
            git push origin master
          else
            echo "No Repository Update Detected."
          fi

      - name: Cleanup Workflow
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 2