name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: "5 0,12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Shanghai"
      SINGBOX_VERSION: "1.12.22"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.2

      - name: Checkout Repository
        uses: actions/checkout@v6.0.2
        with:
          repository: Centralmatrix3/Scripts
          path: Scripts

      - name: Process Rule
        run: |
          bash Scripts/Scripts/Build.sh

      - name: Convert Rule
        run: |
          for dir in Egern/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Egern "$dir"
          done
          for dir in QuantumultX/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py QuantumultX "$dir"
          done
          for dir in Sing-box/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Singbox "$dir"
          done
          for dir in {Clash,Stash}/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Stash "$dir"
          done
          for dir in {Loon,Shadowrocket,Surge}/Ruleset; do
            [ ! -d "$dir" ] && echo "$dir not found." && continue
            python Scripts/Scripts/Build.py Surge "$dir"
          done

      - name: Compile Rule
        run: |
          curl -fsSL -o sing-box.tar.gz "https://github.com/SagerNet/sing-box/releases/download/v${SINGBOX_VERSION}/sing-box-${SINGBOX_VERSION}-linux-amd64.tar.gz"
          tar -xzf sing-box.tar.gz
          chmod +x "sing-box-${SINGBOX_VERSION}-linux-amd64/sing-box"
          sudo  mv "sing-box-${SINGBOX_VERSION}-linux-amd64/sing-box" /usr/local/bin/sing-box
          sing-box version
          for file in Sing-box/Ruleset/*.json; do
            [ ! -f "$file" ] && echo "$file not found." && continue
            sing-box rule-set compile "$file" -o "${file%.json}.srs"
          done
          rm -rf sing-box.tar.gz sing-box-${SINGBOX_VERSION}-linux-amd64

      - name: Push Changes
        run: |
          if [[ -n $(git status -s ":!Scripts/") ]]; then
            git config --local user.email "${{ github.actor }}@users.noreply.github.com"
            git config --local user.name "${{ github.actor }}"
            git add -A ":!Scripts/"
            git commit -m "$(TZ='Asia/Shanghai' date +'%Y-%m-%d %H:%M:%S')"
            git push origin master
          else
            echo "No Repository Update Detected."
          fi

      - name: Cleanup Workflow
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 2