name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 5 * *"

jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Shanghai"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.0
        with:
          ref: master

      - name: Cleanup Branch
        run: |
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git config --local user.name "${{ github.actor }}"
          git checkout --orphan new_branch
          git add -A
          git commit -m "$(TZ='Asia/Shanghai' date +'%Y-%m-%d %H:%M:%S')"
          git branch -D master
          git branch -m master
          git push -f origin master

      - name: Cleanup Workflow
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 1